<!DOCTYPE HTML>
<head>
	<title>Accueil</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <!--script type="text/javascript" src="crypt.js"></script-->

<!--script>
$(document).ready(function() {
$('#login').popover({trigger:'focus',placement:"right",content:'login et mot de passe iut'});
});

</script-->
</head>
<body>
	<div class="container">
		<div class="hero-unit hidden-phone">
				<h1>
					Bibliothèque en Ligne
					<script src="http://code.jquery.com/jquery-latest.js"></script>
					<script src="js/bootstrap.min.js"></script>
				</h1>
				<p>Bienvenue sur la bibliotheque en ligne de <strong>L'Université Paris Est Créteil</strong>.</p>
				<!-- <img src="/img/bibliotheque.png" class="img-rounded"> -->

			</div>

		<div class="row">
			<div class="span6 offset3">
					<legend>Accueil</legend>
			</div>
		</div>
</body>
</html>		