<footer>
 <!--   <div class="container" <style="margin:0 auto;">
        <div class="row">
            <div class="span2 offset2">
                <h4>Micro-projet IHM</h4>
                <ul>
                    <li><a href="">Langage utilis&eacute</a></li>
                    <li><a href="">Contactes</a></li>
                </ul>
            </div>
            <div class="span2 offset1">
                 <p>BiblioIut&copy; Blablabla Tous droits r??serv&eacutes 2013</p>
              
            </div>
          
        </div>
    </div>-->
	
      <div class="container">
	  		<div class="hero-unit hidden-phone">
                <h4>Micro-projet IHM</h4>
                <h4><ul>
                    <li><a href="">Langage utilis&eacute</a></li>
                    <li><a href="">Contactes</a></li>
					 <p class="muted credit">BiblioIut&copy; Tous droits r&eacutesserv&eacutes 2013.       Iut Fbleau <a href=http://www.u-pec.fr/">Universit&eacutes Paris Est Cr&eacutesteil</a></p
                </ul></h4>
			</div>
			</div>
</footer>