<header>
	<div class="container">
		<div class="hero-unit hidden-phone">
				<h1>
					Bibliothèque en Ligne
					<script src="http://code.jquery.com/jquery-latest.js"></script>
					<script src="js/bootstrap.min.js"></script>
				</h1>
				<p>Bienvenue sur la bibliotheque en ligne de <strong>L'Université Paris Est Créteil</strong>.</p>
				<img src="img/hall.png" class="img-rounded">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#">Accueil</a>
					</li>
					<li><a href="#">Recheche livre</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Déconnexion</a></li>
					</ul>
		</div>
	</div>	
</header>